*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    width: 450px;
    height: 100px;
    text-align: center;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.144);
    padding: 50px;
    border-radius: 10px;
}
h1{
    padding: 10px;
}
input,label{
    margin-right: 5px;
}